<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Locally Sourced System</title>
    <link href='{{ asset('iconfont/material-icons.css') }}' rel="stylesheet">
    <link href="{{ asset('css/vuetify.min.css') }}" rel="stylesheet">
    <link href="{{ asset('css/vueWysiwyg.css') }}" rel="stylesheet">
    <link href="{{ asset('css/style.css') }}" rel="stylesheet">
</head>
<body>
<v-app id="app"></v-app>
{% if route_reload is defined %}
    <script>
        var route_reload = '{{ route_reload }}';
        route_reload = route_reload.split(',');
    </script>
{% endif %}
<script src="{{ asset('build/main.js') }}" type="text/javascript"></script>
</body>
</html>